mat-toolbar-row {
  padding-top: 64px;
  padding-bottom: 24px;
  font-size: 15px;
  text-wrap: wrap;
}

div.grid-list {
  display: flex;
  flex-wrap: wrap;
}

div.grid-list > * {
  flex: 1 1 33.33%;
  gap: 4px;
}

mat-card {
  margin: 1%;
}
.product {
  width: 80%;
  word-break: break-all;
}

mat-card li {
  list-style-type: circle;
  padding-bottom: 1%;
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

button {
  position: absolute;
  bottom: 2vh;
}

.product {
  margin-bottom: 40px;
}
